<a href="https://colab.research.google.com/github/Unalunapark/practice/blob/main/%EB%94%B4%EC%A7%93/4_2_%EC%9E%91%EC%97%85%ED%98%951_%EB%AA%A8%EC%9D%98%EB%AC%B8%EC%A0%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/Unalunapark/practice/main/%EB%94%B4%EC%A7%93/members.csv")
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# your code

# 풀이

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

# cols = df.select_dtypes(include='object').columns
# cols
# df = df.drop(cols, axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
cols
df = df[cols]
df.head()

df = df.fillna(0)
df = df.T
df.head()
print(sum(df.sum() > 3000))

FileNotFoundError: [Errno 2] No such file or directory: 'members.csv'

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR


print(sum(df['views'] < line1) + sum(df['views'] > line2))

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1 + r2, 2))